.DS_Store
zig-out/
zig-cache/
ui/
lib/
db.duckdb*

duckdb.h
duckdb.hpp
libduckdb.so
libduckdb_static.a
duckdb.dll
duckdb.lib
libduckdb.dylib
libduckdb-linux-amd64.zip
libduckdb-windows-amd64.zip
libduckdb-osx-universal.zip
